<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'style.css')}}">
   
    
</head>
<body>
    <table>
        {% for i in range (0,(num2)//2) %}
        <tr>
            {% for i in range (0,(num1)//2) %}
            <td class = "square" style="background-color: {{color_a}};"></td>
            <td class = "square" style="background-color: {{color_b}};"></td>
            {% endfor %}
        </tr>
        <tr>
            {% for i in range (0,(num1)//2) %}
            <td class = "square" style="background-color: {{color_b}};"></td>
            <td class = "square" style="background-color: {{color_a}};"></td>
            {% endfor %}
        </tr>
        {%endfor%}
    </table>
</body>
</html>